{% extends 'base.html'%}
{% load custom_filters %}
{% load static %}
{% block title %} Home {% endblock%}

{% block content%}
<div class="main-container d-flex">
    {% include 'cash_div/c_sidebar.html' %}
    <div class="content">
        {% include 'cash_div/c_nav.html' %}

        <div class="dashboard-content px-3 pt-4">
            <h1 class="fs-1 ps-3 pb-3 fw-bold">Welcome {{cashier.first_name}}!</h1>
            <div class="d-flex justify-content-center col-12 ps-3">
                <div class="fw-normal bg-success text-white text-center ps-3 pe-3 fs-4 rounded" id="statusContainer">
                </div>
            </div>
            <div class="container-fluid mt-3 d-flex align-items-center justify-content-center">

                <!-- Cash IN -->
                <button type="button" class="btn fw-bold rounded-pill border border-primary border-3"
                    style="background-color: rgb(153, 185, 255); width: 300px;" data-bs-toggle="modal"
                    data-bs-target="#loadstep1Modal" onclick="load_nextStep(1)">Cash In
                </button>
                
                <div class="modal fade" id="loadstep1Modal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Load Card</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body fw-bold">
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Scan RFID:</label>
                                    <div class="mb-3 col-sm-10">
                                        <input type="password" class="form-control" id="loadrfid">

                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div id="load_errorContainerRFID"
                                    class="fw-normal bg-danger text-white text-center ps-3 pe-3 fs-4 rounded"></div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="loadbuttontarget" class="btn btn-primary"
                                    onclick="load_validateAndProceed()">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="loadstep2Modal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Load Card</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body fw-bold">
                                <div class="row">
                                    <label for="amount" class="col-sm-2 col-form-label">Student ID:</label>
                                    <div class="mb-3 col-sm-10">
                                        <p id="personID"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="amount" class="col-sm-2 col-form-label">Student Name:</label>
                                    <div class="mb-3 col-sm-10">
                                        <p id="fullname"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="amount" class="col-sm-2 col-form-label">Amount to be Loaded</label>
                                    <div class="mb-3 col-sm-10">
                                        <input type="number" class="form-control" id="amountload">
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div id="load_errorContainer2"
                                    class="fw-normal bg-danger text-white text-center ps-3 pe-3 fs-4 rounded"></div>
                                <button type="button" id="prev1" class="btn btn-secondary"
                                    onclick='load_previousStep(1)'>Back</button>
                                <button type="button" id="loadbuttontarget2" class="btn btn-primary"
                                    onclick='load_nextStep(3)'>Next</button>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="modal fade" id="loadstep3Modal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Load Card</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body fw-bold">
                                <div class="row">
                                    <label for="amount" class="col-sm-2 col-form-label">Load Top Up:</label>
                                    <div class="mb-3 col-sm-10">
                                        <p id="basetopup"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="amount" class="col-sm-2 col-form-label">Bonus 5&percnt;</label>
                                    <div class="mb-3 col-sm-10">
                                        <p id="bonustopup"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="amount" class="col-sm-2 col-form-label">Total:</label>
                                    <div class="mb-3 col-sm-10">
                                        <p id="totaltopup"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div id="load_errorContainer2"
                                    class="fw-normal bg-danger text-white text-center ps-3 pe-3 fs-4 rounded"></div>
                                <button type="button" id="prev1" class="btn btn-secondary"
                                    onclick='load_previousStep(3)'>Back</button>
                                <button type="button" id="loadbuttontarget3" class="btn btn-primary"
                                    data-bs-dismiss="modal" onclick='payLoad()'>Pay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CASH IN END -->


                <!-- REGISTER -->
                {% comment %} RFID registration {% endcomment %}
                <button type="button" class="btn fw-bold rounded-pill border border-primary border-3"
                    style="background-color: rgb(153, 185, 255); width: 300px; margin-left: 30px;"
                    data-bs-toggle="modal" data-bs-target="#regstep1Modal">
                    Enable RFID Services
                </button>


                <div class="modal fade" id="regstep1Modal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Enable RFID Services</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body ">

                                <div class="row fw-bold">
                                    <h1 class="modal-title fw-bold fs-3 pb-3">STEP 1: </h1>
                                    <label for="amount" class="col-sm-2 col-form-label">Student ID:</label>
                                    <div class="mb-3 col-sm-10">
                                        <input type="text" class="form-control" id="regStudentID">
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div id="errorContainer"
                                    class="fw-normal bg-danger text-white text-center ps-3 pe-3 fs-4 rounded"></div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="regbuttontarget" class="btn btn-primary"
                                    onclick='validateAndProceed()'>Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                




                <div class="modal fade" id="regstep2Modal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Enable RFID Servicess</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row fw-bold">
                                    <h1 class="modal-title fw-bold fs-3 pb-3">STEP 2: </h1>
                                    <label class="col-sm-2 col-form-label">Scan RFID:</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="rfid">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div id="errorContainerRFID"
                                    class="fw-normal bg-danger text-white text-center ps-3 pe-3 fs-4 rounded"></div>
                                <button type="button" class="btn btn-dark" onclick='previousStep(1)'>Previous</button>
                                <button type="button" id="regbuttontarget2" class="btn btn-primary"
                                    onclick='validate_rfid()' autofocus>Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="regstep3Modal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Enable RFID Services</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row fw-bold">
                                    <h1 class="modal-title fw-bold fs-3 pb-3">STEP 3: </h1>
                                    <label class="col-sm-5 col-form-label">Confirm Registration for Student ID
                                        No:</label>
                                    <div class="col-sm-10">
                                        <h3>
                                            <div id='currentschoolid'></div>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" onclick='previousStep(2)'>Previous</button>
                                <button type="button" id="regbuttontarget3" data-bs-dismiss="modal"
                                    class="btn btn-primary" onclick='registerRFID()'>Register</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PAY FEES -->
                <button type="button" class="btn fw-bold rounded-pill border border-primary border-3"
                    style="background-color: rgb(153, 185, 255); width: 300px; margin-left: 30px;"
                    data-bs-toggle="modal" data-bs-target="#paystep1Modal" >Pay fees</button>


                <div class="modal fade" id="paystep1Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">PAY Step 1</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body fw-bold">
                                <div class="row">
                                    <label for="inputDocument" class="col-sm-2 col-form-label">Document/s:</label>
                                    <div id="initInput" class=" mb-3  col-sm-10  d-flex">
                                        <select id="select_page" style="width:1200px;" class="operator select2" > 
                                            <option value="">Select an item</option>
                                            {% for item in services %}
                                                <option value="{{ item.id }}">{{ item.menu_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button id="addFile" type="button" class="btn btn-dark d-flex"><i
                                                class="bi bi-plus-square-fill me-2"></i>Add</button>
                                    </div>
                                    <div id="newinput" class="m-1"></div>
                                  
                                </div>
                               
                                
                            </div>
                            <div class="modal-footer">
                                <div id="pay_errorContainerRFID1"
                                    class="fw-normal bg-danger text-white text-center ps-3 pe-3 fs-4 rounded"></div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button"  id="paybuttontarget"  class="btn btn-primary" onclick="tallyItemCost()">Next</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="paystep2Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">PAY Step 2</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body fw-bold">
                                <div>
                                    <table class="table table-hover table-bordered">
                                        <thead class="text-center">
                                            <tr>
                                                <th scope="col" style="width: 50px;">#</th>
                                                <th scope="col">Name of Product</th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody id="showTally">
                                        </tbody>
                                    </table>
                                </div>
                                <div id="showTally" class="m-1"></div>
                                <div class="row">
                                    <h5 class="col-sm-2 ">Total:</h5>
                                    <div class="col-sm-10">
                                        <p id='totalAmount'></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="hidden" id="FinalTotalAmount" value="">
                                    <label class="col-sm-2 col-form-label">Payment Method:</label>
                                    <div class="col m-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="RadioOptions"
                                                id="MC-PayS" value="MC-PayS">
                                            <label class="form-check-label" for="MC-PayS">MC-PayS</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="RadioOptions" id="Cash"
                                                value="Cash">
                                            <label class="form-check-label" for="Cash">Cash</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"  onclick="pay_previousStep(1)">Previous</button>
                                <button type="button" class="btn btn-primary" id="changebutton" onclick="">Next</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade" id="paystep3Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fffb90;">
                                <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Pay</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body fw-bold">
                                <div class="row fw-bold">
                                    <h1 class="modal-title fw-bold fs-3 pb-3">MC-PayS Method:</h1>
                                    <label class="col-sm-2 col-form-label">Scan RFID:</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="payrfid">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div id="pay_errorContainerRFID3"
                                    class="fw-normal bg-danger text-white text-center ps-3 pe-3 fs-4 rounded"></div>
                                <button type="button" class="btn btn-secondary" onclick="pay_previousStep(2)">Previous</button>
                                <button type="button" id="paybuttontarget3"  class="btn btn-primary"  data-bs-dismiss="modal" onclick="pay_validateAndProceed()">Pay</button>
                            </div>
                        </div>
                    </div>
                </div>





                













            </div>
            <div class="row d-flex mt-5 align-items-center justify-content-center">
                <div class="col-sm-5 mb-3 mt-1">
                    <div class="card text-center" style="height: 9rem; border-width: 3px; border-color: #3d3c3c;">
                        <div class="card-header text-white fw-bold fs-5.5" style="background-color: #3d3c3c;">Total
                            Daily Cash-ins</div>
                        <div class="card-body">
                            <h5 class="card-title" ><span id="cash-in-count">{{ dailyCashInCount }}</span> Transactions</h5>
                            <p class="card-text">Php <span id="total-cash-in">{{ dailyTotalCashIn|none2zero }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 mb-3 mt-1">
                    <div class="card text-center" style="height: 9rem; border-width: 3px; border-color: #3d3c3c;">
                        <div class="card-header text-white fw-bold fs-5.5" style="background-color: #3d3c3c;">Total
                            Daily Payments</div>
                        <div class="card-body">
                            <h5 class="card-title"><span id="pay-count">{{dailyPayCount}}</span> Payments</h5>
                            <p class="card-text">Php <span id="total-pay">{{dailyTotalPay|neg}}</span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



<script>
    // Set the CSRF token as a global variable
    window.csrfTokenReg = '{{ csrf_token }}';
    window.csrfTokenLoad = '{{ csrf_token }}';
    window.csrfTokenPay = '{{ csrf_token }}';
    window.csrfTokenPayRFID = '{{ csrf_token }}';
</script>














{% endblock %}