{% load static %}


<nav class="navbar navbar-expand-md navbar-light" style="background-color: #a41e22">
    <div class="container-fluid">
        <div class="d-flex justify-content-between d-md-none d-block">
            <h1 class="fs-4 px-2">
                <span class="bg-white text-dark rounded shadow mx-auto px-2 pb-2">
                    <img src="{% static 'logo/LOGO2.png' %}" alt="" style="width: 110px; height: 29px;">
                </span>
            </h1>

            <button class="btn py-0 open-btn text-white"><i class="bi bi-list"></i></button>
        </div>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-caret-down-fill"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'logout' %}" type="button" class="btn fw-bold rounded-pil bg-white text-dark"
                        style="width: 100px;">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</nav>