{% extends 'base.html'%}

{% load static %}
{% block title %} Home {% endblock%}

{% block content%}
<div class="main-container d-flex">
    {% include 'canteen/canteen_sidebar.html' %}
    <div class="content">
        {% include 'canteen/canteen_nav.html' %}

        <div class="dashboard-content px-3 pt-4">
            <h1 class="fs-1 ps-3 pb-3 fw-bold">Products</h1>
            <div class="col-sm-8 m-auto">
                {% comment %} search form input  {% endcomment %}
                <form class="d-flex" role="search" action={% url "searchProduct"%}>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "query">
                    <button class="btn btn-dark" type="submit">Search</button>
                </form>
            </div>
            <div class="mt-5 ms-5">
                <div class="d-flex align-items-middle">
                    <button type="button" class="btn btn-primary fw-bold rounded-pill p-3" data-bs-toggle="modal"
                        data-bs-target="#addProduct"><i class="bi bi-plus-circle-fill"></i> Add Product</button>
                    <!-- id="msg" -->
                    <div class="col-6 ps-3">
                        {% if messages %}
                        <ul class="messages list-unstyled text-white text-center">
                            {% for message in messages %}
                            <li{% if message.tags %} class="  bg-success p-1 rounded-5  ml-b {{ message.tags }}" {% endif %}>
                                {{ message }}
                                </li>
                                {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="modal fade" id="addProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <form class="row g-1 needs-validation" action={% url "insertMenu"%} method="post">
                                {% csrf_token %}
                                <div class="modal-header" style="background-color: #fffb90;">
                                    <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Add Product</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body fw-bold">
                                    <div class="row">
                                        <label for="product" class="col-sm-2 col-form-label">Name of Product:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="product" placeholder="Name of Product" required='true'>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="price" class="col-sm-2 col-form-label">Price:</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" name="product_price" placeholder="Price" required='true'>
                                        </div>
                                    </div>
                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" name="insertMenu" class="btn btn-dark">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
                
            </div>

            <h3>Results: {{ count }} Entries</h3>
            <div class="dashboard-content px-3 pt-3">
                <div class="container-fluid">
            
                    <div class="card-body">
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col" style="width: 50px;">#</th>
                                    <th scope="col">Name of Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col" style="width: 300px;">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% comment %} start of iterations {% endcomment %}
                                {% for item in page_obj %}
                                <div class="modal fade" id="updateProduct{{ item.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <form class="row g-1 needs-validation" action="{% url 'updateMenu' item.id %}" method="post">
                                                {% csrf_token %}

                                                <div class="modal-header" style="background-color: #0096FF;">
                                                    <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Update Product</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body fw-bold">
                                                    <div class="row">
                                                        <label for="product" class="col-sm-2 col-form-label">Name of Product:</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="product" placeholder="{{ item.menu_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label for="price" class="col-sm-2 col-form-label">Price:</label>
                                                        <div class="col-sm-10">
                                                            <input type="number" class="form-control" name="product_price" placeholder="{{ item.menu_price}}">
                                                        </div>
                                                    </div>
                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" name="insertMenu" class="btn btn-dark">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal fade" id="deleteProduct{{ item.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <form class="row g-1 needs-validation" action="{% url 'deleteMenu' item.id %}" method="post">
                                                {% csrf_token %}

                                                <div class="modal-header" style="background-color: #FF5733;">
                                                    <h1 class="modal-title fw-bold fs-3" id="staticBackdropLabel">Delete Product</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body fw-bold">
                                                    <div class="row">
                                                        <h3>Are you sure you want to delete this item?</h3>
                                                        <p>ID: {{ item.id }} | Name: {{ item.menu_name }} | Price: {{ item.menu_price }} </p>
                                                    </div>
                                                    
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" name="insertMenu" class="btn btn-danger">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <tr>
                                    <th scope="row">{{ item.id }}</th>
                                    <td>{{ item.menu_name }}</td>
                                    <td>{{ item.menu_price }}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#updateProduct{{ item.id }}">Update</button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteProduct{{ item.id }}">Delete</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current-page">{{ page_obj.number }}</span>
                        
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
            
                </div>
            </div>

        </div>
    </div>{% endblock %}