{% load static %}

<div class="sidebar " style="background-color: #343a40;" id="side_nav">
    <div class="header-box ps-3 pt-2 pb-2 d-flex justify-content-center " style="background-color: #931e24" ;>
        <h1 class="fs-4">
            <span class="bg-white text-dark rounded shadow mx-auto pb-2 px-2">
                <img src="{% static 'logo/LOGO2.png' %}" alt="" style="width: 110px; height: 27px;">
            </span>
        </h1>
        <button class="btn d-md-none d-block close-btn px-3 py-0 text-white"><i class="bi bi-list"></i></button>
    </div>
    <ul class="list-unstyled px-2 text-center pt-5">
        <li><a href="admin_home" class="text-decoration-none fw-bold px-3 py-2 d-block">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle text-decoration-none fw-bold px-3 py-2 d-block" data-bs-toggle="dropdown">List of
                Users</a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href={% url "admin_listOfEndUser"%} class="dropdown-item p-2">End User Accounts</a>
                <a href={% url "admin_listOfPOS"%} class="dropdown-item p-2">POS Accounts</a>
                <a href={% url "admin_listOfCashier"%} class="dropdown-item p-2">Cashier Accounts</a>
                <a href={% url "admin_listOfRegistrar"%} class="dropdown-item p-2">Registrar Accounts</a>
            </div>
        </li>
    </ul>
</div>