{% extends 'base.html'%}

{% load static %}
{% block title %} Home {% endblock%}

{% block content%}


<div class="main-container d-flex">
    {% include 'sidebar.html' %}
    <div class="content">
        {% include 'nav.html' %}

        <div class="dashboard-content px-3 pt-4">
            <h2 class="fs-1 ps-3 pb-3">Account</h2>
        </div>
            <div class="row" style="margin: 15px;">
                <div class="col-sm-8 mb-3 mb-sm-0">
                    <div class="card border-3">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="idNo" class="col-sm-2 col-form-label">Student ID No.</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="idNo">
                                </div>
                            </div>
            
                            <div class="mb-3 row">
                                <label for="fname" class="col-sm-2 col-form-label">Firstname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
            
                            <div class="mb-3 row">
                                <label for="lname" class="col-sm-2 col-form-label">Lastname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="lname">
                                </div>
                            </div>
            
                            <div class="mb-3 row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>
            
                            <div class="mb-3 row">
                                <label for="contact" class="col-sm-2 col-form-label">Contact #</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="contact">
                                </div>
                            </div>
            
                            <div class="mb-3 row">
                                <label for="address" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="address">
                                </div>
                            </div>
                            <a class="nav-link active float-end" aria-current="page" href="#"><button type="button"
                                    class="btn fw-bold rounded-pill" style="background-color: #ff7070; width: 160px;"> Save Changes
                                </button></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-4">
                    <div class="card border-3">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <a href="#" class="img logo rounded-circle"><img src="http://frontendfreecode.com/img/user.jpg"
                                    class="rounded-circle" style="width: 150px;" alt="Avatar" /></a>
                        </div>
                        <div>
                            <a class="nav-link active d-flex align-items-center justify-content-center" aria-current="page"
                                href="#"><button type="button" class="btn fw-bold rounded-pill"
                                    style="background-color: #ff7070; width: 180px;">Edit Profile Picture</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}