{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} ME-PAYS {% endblock %}</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href=" {% static 'style.css' %}">
  </head>
  <style>
    body {
      font-family: "Poppins";
    }
    /* For Chrome, Safari, and Opera */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    .chart-container {
      height: 400px; /* Adjust the height as needed */
    }
   

  </style>

  <body>  
    {% block content%}
    
    

    {% endblock %}

   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script src="{% static 'scripts/cashdiv_asText.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/cashdiv.js' %}"></script>
    <script src="{% static 'scripts/pos_asText.js' %}"></script>
    <script src="{% static 'scripts/pos.js' %}"></script>
    <script src="{% static 'scripts/enduser.js' %}"></script>
    <script src="{% static 'scripts/registrar_asText.js' %}"></script>
    <script src="{% static 'scripts/registrar.js' %}"></script>
    <!-- Sidebar Query -->
    <script>
      $(".sidebar ul li").on('click', function () {
        $(".sidebar ul li.active").removeClass('active');
        $(this).addClass('active');
      });

      $('.open-btn').on('click', function () {
        $('.sidebar').addClass('active');
      });

      $('.close-btn').on('click', function () {
        $('.sidebar').removeClass('active');
      })
      function validateNumberInput(input) {
        input.value = input.value.replace(/-/g, ''); // Remove hyphens from the input value
      }
    </script>

    {% comment %} <!-- Add Document CashDiv Query -->
    

    <script type="text/javascript">

      $("#addFile").click(function () {
        newRowAdd =
          
          
          
          // '<div id="row" class="mb-3 d-flex">' +
          //   '<label for="inputDocument" class="col-sm-2 col-form-label"></label>' +
          //   '<select class="form-select" id="inputGroupSelect01">' +
          //     '<option selected>Choose...</option>'+
          //     '<option value="1">Document Title..</option>' +
          //     '<option value="2">Document Title...</option>' +
          //   '</select>' +
          //   '<button class="btn btn-danger" id="DeleteRow" type="button"> Cancel</button>' +
          // '</div>'
  

            '< div class="row g-3" >' +
            '<div class="col-md-8">' +
                <label for="inputDocument" class="form-label">Document/s:</label>
                '<select id="select_page" class="form-select">' +
                    '<option value="">Select document</option>' +
                    '<option value="">Select document</option>' +
                '</select>' +
                
            '</div>' +
            '<div class="col-md-2">' +
                '<label for="inputQTY" class="form-label">Quantity</label>' +
                '<input type="text" class="form-control" id="inputQTY">' +
            '</div>' +
            '<div class="col-md-2 d-grid mx-auto pb-2"> ' +
                '<label for="" class="form-label">Add File</label> ' +
                '<button id="DeleteRow" type="button" class="btn btn-danger "><i class="bi bi-plus-square-fill"></i>  </button> ' +
            '</div> ' +
            
        
                

        $('#newinput').append(newRowAdd);
      });

      $("body").on("click", "#DeleteRow", function () {
        $(this).parents("#row").remove();
      })

      // $(document).ready(function() {

        $(document).ready(function () {
          $('input[type="radio"]').click(function () {
            var inputValue = $(this).attr("value");
            var targetBox = $("." + inputValue);
            $(".showRFID").not(targetBox).hide();
            $(targetBox).show();
          });
        });
        

    </script> {% endcomment %}

    <!-- Canteen Query -->
  

    <!-- Message Timeout -->
  <script>
    setTimeout(function () {
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 5000)    // 2000 millisecond
  </script>
 

  
  <script>
    // Function to store form values in localStorage
    function storeFormValues(formId) {
      const form = $('#' + formId);
      const formValues = {};
      form.find('input, textarea').each(function() {
        formValues[$(this).attr('name')] = $(this).val();
      });
      localStorage.setItem(formId, JSON.stringify(formValues));
    }

    // Function to retrieve stored form values from localStorage
    function getStoredFormValues(formId) {
      const storedData = localStorage.getItem(formId);
      if (storedData) {
        const formValues = JSON.parse(storedData);
        const form = $('#' + formId);
        form.find('input, textarea').each(function() {
          const fieldName = $(this).attr('name');
          if (formValues.hasOwnProperty(fieldName)) {
            $(this).val(formValues[fieldName]);
          }
        });
      }
    }

    // Store form values before refreshing the page
    $(window).on('beforeunload', function() {
      const formIds = ['form1', 'form2']; // Add more form IDs as needed
      formIds.forEach(formId => {
        storeFormValues(formId);
      });
    });

    // Retrieve stored form values on document ready
    $(document).ready(function() {
      const formIds = ['form1']; // Add more form IDs as needed
      formIds.forEach(formId => {
        getStoredFormValues(formId);
      });
    });
  </script>

  


  <script>
    $(document).ready(function() {
      // Set the duration (in milliseconds) for the message to be displayed
      var messageDuration = 4000; // 5 seconds
  
      // Fade out the messages after the specified duration
      $('.messages li').delay(messageDuration).fadeOut('slow');
    });
  </script>

  </body>
</html>
