{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} ME-PAYS {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href=" {% static 'style.css' %}">

  </head>
  <style>
    body {
      font-family: "Poppins";
    }

    /* Show RFID */

  .showRFID {
      display: none;
  }
  </style>

  <body>  
          {% block content%}
          
          {% endblock %}

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Sidebar Query -->
    <script>
      $(".sidebar ul li").on('click', function () {
        $(".sidebar ul li.active").removeClass('active');
        $(this).addClass('active');
      });

      $('.open-btn').on('click', function () {
        $('.sidebar').addClass('active');
      });

      $('.close-btn').on('click', function () {
        $('.sidebar').removeClass('active');
      })
    </script>

    <!-- Add Document CashDiv Query -->

    <script type="text/javascript">

      $("#addFile").click(function () {
        newRowAdd =
            '<div id="row" class="mb-3 d-flex">' +
            '<label for="inputDocument" class="col-sm-2 col-form-label"></label>' +
            '<select class="form-select" id="inputGroupSelect01">' +
              '<option selected>Choose...</option>'+
              '<option value="1">Document Title..</option>' +
              '<option value="2">Document Title...</option>' +
            '</select>' +
            '<button class="btn btn-danger" id="DeleteRow" type="button"> Cancel</button>' +
          '</div>'

        $('#newinput').append(newRowAdd);
      });

      $("body").on("click", "#DeleteRow", function () {
        $(this).parents("#row").remove();
      })

      // $(document).ready(function() {

        $(document).ready(function () {
          $('input[type="radio"]').click(function () {
            var inputValue = $(this).attr("value");
            var targetBox = $("." + inputValue);
            $(".showRFID").not(targetBox).hide();
            $(targetBox).show();
          });
        });
        

    </script>

    <!-- Canteen Query -->
    <script type="text/javascript">

      
      $("#addProduct").click(function () {
        newRowAdd =
          '<div id="row" class="mb-3 d-flex">' +
          '<label for="inputDocument" class="col-sm-2 col-form-label"></label>' +
          '<select class="form-select" id="inputProductSelect">' +
          '<option selected>Choose...</option>' +
          '<option value="1">Document Title..</option>' +
          '<option value="2">Document Title...</option>' +
          '</select>' +
          '<button class="btn btn-danger" id="DeleteRow" type="button"> Cancel</button>' +
          '</div>'

        $('#newproduct').append(newRowAdd);
      });

      $("body").on("click", "#DeleteRow", function () {
        $(this).parents("#row").remove();
      })
    </script>

    <!-- Message Timeout -->
    <script>
      setTimeout(function () {
        if ($('#msg').length > 0) {
          $('#msg').remove();
        }
      }, 5000)    // 2000 millisecond
    </script>
  
   <script>
    $(document).ready(function() {
      // Set the duration (in milliseconds) for the message to be displayed
      var messageDuration = 4000; // 5 seconds
  
      // Fade out the messages after the specified duration
      $('.messages li').delay(messageDuration).fadeOut('slow');
    });
    </script>

  </body>
</html>
