{% extends 'base.html'%}

{% load static %}
{% block title %} Home {% endblock%}

{% block content%}


<div class="main-container d-flex">
    {% include 'sidebar.html' %}
    <div class="content">
        {% include 'nav.html' %}

        <div class="dashboard-content px-3 pt-4">
            <h2 class="fs-1 ps-3 pb-3 fw-bold">Welcome!</h2>
            <div class="container-fluid">
                <div class="card text-center" style="border-color: #f1ed71; border-width: 5px; height: 11rem;">
                    <div class="card-header fw-bold fs-4 rounded-0" style="background-color: #f1ed71;">
                        B A L A N C E
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid pt-3 d-flex align-items-center justify-content-center">
                <button type="button" class="btn fw-bold rounded-pill" style="background-color: #ff7070; width: 200px;">Cash-in</button>
                <button type="button" class="btn fw-bold rounded-pill"
                    style="background-color: #ff7070; width: 200px; margin-left: 30px;">Pay fees</button>
            </div>
            
        </div>
        
    </div>

    
</div>

{% endblock %}