{% extends 'base.html'%} 
{% include 'nav.html'%} 
{% load static %} 
{% block title %} Login {% endblock%} 

{% block content%}

<main class="login-bg" style="background: url('../static/images/bg1.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
  
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="card border border-secondary rounded-4">
              <div class="card-header p-1 m-1">
                <div class="d-flex justify-content-center">
                  <a
                    href="{% url 'index'%}"
                    class="logo d-flex align-items-center w-auto text-decoration-none"
                  >
                    <img
                      src="{% static 'logo/LOGO.png' %}"
                      class="img-fluid"
                      width="100px"
                      alt="Logo"
                    />

                    <span>
                      <strong class="d-none d-lg-block text-danger fw-bold h3">
                        <img
                          src="{% static 'logo/LOGO2.png' %}"
                          class="img-fluid"
                          width="200px"
                          alt="Logo2"
                        />
                      </strong>
                    </span>
                  </a>
                </div>
                <!-- End Logo -->
              </div>

              <div class="card-body" style="background-color: #e6f1fa;">
                <br>
                <div class="">
                  <h5 class="card-title text-center">
                    Login to Your Account
                  </h5>
                  <p class="text-center small">
                    Enter your Email & Password to login
                  </p>
                </div>

                <form class="row g-0 needs-validation" action="{% url 'index' %}" method="post">
                  {% csrf_token %}
                  <div class="col-12" id="msg">
                    {% if messages %}
                    <ul class="messages list-unstyled text-white text-center">
                      {% for message in messages %}
                      <li{% if message.tags %} class="  bg-secondary p-1 rounded-5  ml-b {{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                  <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        name="email"
                        class="form-control"
                        placeholder="Enter Email"
                        required
                      />
                      <div class="invalid-feedback">
                        Please enter your username.
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter Password"
                      required
                    />
                    <div class="invalid-feedback">
                      Please enter your password!
                    </div>
                  </div>

                  <div class="col-12">
                    <!-- <p>Forgot Password? <a href="register">CLICK HERE</a></p> -->
                    <p class="pt-2">Don't have account yet? <a class="fw-bold" href="register">REGISTER NOW!</a></p>
                  </div>
                  <div class="col-12 pt-3">
                    <button
                      class="btn btn-warning w-100 rounded fw-bold"
                      href="dash"
                    >
                      LOGIN
                    </button>
                  </div>
                </form>
              </div>

              <div class="card-footer">
                <p>A My.IIT account is required to log in.</p>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->
{% endblock %}
