{% load static %}

<nav class="navbar navbar-expand-md navbar-light" style="background-color: #dfdddd;">
    <div class="container-fluid">
        <div class="d-flex justify-content-between d-md-none d-block">
            <a class="navbar-brand fs-3" href="#">
                <img src="{% static 'logo/ME-cutout.png' %}" alt=""  style="width: 110px; height: 25px;">
            </a>
            <button class="btn px-1 py-0 open-btn"><i class="bi bi-list"></i></button>
        </div>
        <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-caret-down-fill"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <button type="button"  class=" border-0 p-1 fw-bold rounded-pill " style="background-color: #ff7070;"> Logout </button></a>
                </li>
            </ul>
        </div>

    </div>
</nav>

