{% extends 'base.html'%}
{% include 'nav.html'%}
{% load static %}
{% block title %} Register {% endblock%}
{% block content%}
<main class="login-bg" style="background: url('../static/images/bg1.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card border border-secondary rounded-4">
                            <div class="card-header">
                                <div class="d-flex justify-content-center">
                                    <a href="index" class="logo d-flex align-items-center w-auto text-decoration-none">
                                        <img src="{% static 'logo/LOGO.png' %}" class="img-fluid" width="60px" alt="Logo" />
                                    
                                        <span>
                                            <strong class="d-none d-lg-block text-danger fw-bold h3">
                                                <img src="{% static 'logo/LOGO2.png' %}" class="img-fluid" width="150px" alt="Logo2" />
                                            </strong>
                                        </span>
                                    </a>
                                </div>
                                <!-- End Logo -->
                            </div>

                            <div class="card-body" style="background-color: #e6f1fa;">
                                <div class="">
                                    <p class="card-title text-center p-0 m-0">
                                        Register using My.IIT Account
                                    </p>
                                </div>
                                <form class="row needs-validation"  method="post">
                                    {% csrf_token %}
                                    <div class="col-12" id="msg">
                                        {% if messages %}
                                            <ul class="messages list-unstyled text-white text-center">
                                                {% for message in messages %}
                                                <li{% if message.tags %} class="  bg-secondary p-1 rounded-5  ml-b {{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.email.id_for_label }}"  class="form-label">Email</label>
                                        <div class="col-md-12">
                                            {{ form.email }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your email!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.first_name.id_for_label }}"  class="form-label">First Name</label>
                                        <div class="col-md-12">
                                            {{ form.first_name }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your First Name!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.last_name.id_for_label }}"  class="form-label">Last Name</label>
                                        <div class="col-md-12">
                                            {{ form.last_name }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your Last Name!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.contact_number.id_for_label }}"  class="form-label">Contact Number</label>
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text" id="basic-addon1">+63</span>
                                            {{ form.contact_number }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your Contact Number!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.school_id.id_for_label }}"  class="form-label">School ID</label>
                                        <div class="col-md-12">
                                            {{ form.school_id }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your School ID!
                                        </div>
                                    </div>
                                    
       
                                    <div class="col-12">
                                        <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                                        <div class="col-md-12">
                                            {{ form.password1 }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your password!
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.password_repeat.id_for_label }}" class="form-label">Confirm Password</label>
                                        <div class="col-md-12">
                                            {{ form.password2 }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please Confirm password!
                                        </div>
                                    </div>

                                
                                    <div class="col-12 pt-2">
                                        <button class="btn btn-sm btn-warning w-100 rounded fw-bold"  type="submit" value="Register" >
                                            REGISTER
                                        </button>

                                    </div>
                                </form>
                            </div>
                            <div>
                                {% if form.errors %}
                                    <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="card-footer p-1 ">
                                <p class="ps-3">Already have account? <a href="{% url 'index' %}">LOGIN HERE</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- End #main -->
{% endblock %}