{% extends 'base.html'%}
{% include 'nav.html'%}
{% load static %}
{% block title %} Register {% endblock%}
{% block content%}
<main class="login-bg" style="background-color: #dfdddd">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card border border-secondary rounded-4">
                            <div class="card-header p-1 m-1">
                                <div class="d-flex justify-content-center">
                                    <a href="index" class="logo d-flex align-items-center w-auto text-decoration-none">
                                        <img src="{% static 'logo/LOGO.png' %}" class="img-fluid" width="80px" alt="Logo" />
                                    
                                        <span>
                                            <strong class="d-none d-lg-block text-danger fw-bold h3">
                                                <img src="{% static 'logo/LOGO2.png' %}" class="img-fluid" width="150px" alt="Logo2" />
                                            </strong>
                                        </span>
                                    </a>
                                </div>
                                <!-- End Logo -->
                            </div>

                            <div class="card-body">
                                <div class="">
                                    <h5 class="card-title text-center pb-0">
                                        REGISTER
                                    </h5>
                                    <p class="text-center small">
                                        Enter your username & password to sign up.
                                    </p>
                                </div>
                                <form class="row g-1 needs-validation"  method="post">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        {% if messages %}
                                            <ul class="messages list-unstyled text-white text-center">
                                                {% for message in messages %}
                                                <li{% if message.tags %} class="  bg-secondary p-1 rounded-5  ml-b {{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <div class="col-md-12">
                                                {{ form.username }}
                                            </div>
                                            <div class="invalid-feedback">
                                                Please enter your username.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.email.id_for_label }}"  class="form-label">Email</label>
                                        <div class="col-md-12">
                                            {{ form.email }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your email!
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                                        <div class="col-md-12">
                                            {{ form.password }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your password!
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.password_repeat.id_for_label }}" class="form-label">Confirm Password</label>
                                        <div class="col-md-12">
                                            {{ form.password_repeat }}
                                        </div>
                                        <div class="invalid-feedback">
                                            Please Confirm password!
                                        </div>
                                    </div>

                                
                                    <div class="col-12 pt-2">
                                        <button class="btn btn-warning w-100 rounded fw-bold"  type="submit" value="Register" >
                                            REGISTER
                                        </button>

                                    </div>
                                </form>
                            </div>

                            <div class="card-footer m-1">
                                <p>Already have account? <a href="index">LOGIN HERE</a></p>
                                <p>A My.IIT account is required to log in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- End #main -->
{% endblock %}