{% extends 'base.html'%}

{% load static %}
{% block title %} Home {% endblock%}

{% block content%}


<div class="main-container d-flex">
    {% include 'sidebar.html' %}
    <div class="content">
        {% include 'nav.html' %}

        <div class="dashboard-content pt-4">
            <h1 class="fs-1 ps-3 pb-3 fw-bold">Transaction History</h1>
            <div class="container-fluid">
                    <div class="card-body">
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
            
                    </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}