{% extends 'base.html'%}

{% load static %}
{% block title %} Home {% endblock%}

{% block content%}


<div class="main-container d-flex">
    {% include 'sidebar.html' %}
    <div class="content">
        {% include 'nav.html' %}

        <div class="dashboard-content px-3 pt-4">
            <h2 class="fs-1 ps-3 pb-3 fw-bold">Transaction History</h2>
            <div class="container-fluid">
                    <div class="card-body">
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">DateTime</th>
                                    <th scope="col">Transaction Description</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Transactor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load custom_filters %}
                                {% for log in page_obj %}
                                <tr>
                                    <td>{{log.id}}</td>
                                    <td>{{log.datetime}}</td>
                                    <td>{{log.desc}}</td>
                                    {% if log.amount < 0 %}
                                        <td>{{ log.amount }}</td>
                                    {% else %}
                                        <td>{{ log.amount }}</td>
                                    {% endif %}
                                    {% if log.enduser_sender%}
                                      <td>{{log.enduser_sender.school_id}}</td>
                                    {% elif log.cashier_sender%}
                                      <td>{{log.cashier_sender.user.email}}</td>
                                    {% elif log.pos_sender%}
                                    <td>{{log.pos_sender.user.email}}</td>
                                    {% endif %}
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
                        <nav aria-label="Page navigation" class="d-flex justify-content-center">
                            <ul class="pagination step-links">
                              <li class="page-item">
                                <a class="page-link bg-white" href="?query={{ search_string }}&amp;date={{ date_string }}&amp;page=1">First</a>
                              </li>
                              <li class="d-flex page-item">
                                {% if page_obj.has_previous %}
                                <a class="page-link bg-white" href="?query={{ search_string }}&amp;date={{ date_string }}&amp;page={{ page_obj.previous_page_number }}">Prev</a>
                                {% endif %}
                              </li> 
                              <li class="page-item">
                                <a class="page-link current-page bg-primary text-white">{{ page_obj.number }}</a>
                              </li>
                              <li class="page-item d-flex">
                                {% if page_obj.has_next %}
                                <a class="page-link bg-white" href="?query={{ search_string }}&amp;date={{ date_string }}&amp;page={{ page_obj.next_page_number }}">Next</a>
                                {% endif %}
                              </li>
                              <li class="page-item">
                                <a class="page-link bg-white" href="?query={{ search_string }}&amp;date={{ date_string }}&amp;page={{ page_obj.paginator.num_pages }}">Last</a>
                              </li>
                            </ul>
                          </nav>
                        <!-- End Table with hoverable rows -->
            
                    </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}